# === Backend ===
backend/.env
backend/dist/
backend/*.log
backend/data/
backend/*.csv

# === CDK ===
*.js
cdk/cdk.context.json
!cdk/jest.config.js
*.d.ts
cdk/.cdk.staging/
cdk/cdk.out/

# === General ===
node_modules/
.DS_Store
.env
*.log
rsf.db
*.pem
